@using ShallvaMVC.Models

@model SubProductProperty

<div class="row cat-row prop" data-id="@Model.Id">
    <div class="col-md-10">@Model.Name</div>
    <div class="col-md-1 edit">
        <a href="#"><i class="glyphicon glyphicon-pencil"></i></a>
    </div>
    <div class="col-md-1 remove">
        <a href="#"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
</div>